@import "app/shared/styles/variables.scss";

.channel-wrapper {
  .channel-heading {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;

    .label {
      color: $black;
      font-size: $font-size-lg;
      font-family: $regular;
    }
    .channel-name {
      padding: 4px 12px;
      border-radius: 4px;
      color: $light-black;
      background: var(
        --Blue-10,
        linear-gradient(
          0deg,
          rgba(4, 8, 106, 0.1) 0%,
          rgba(4, 8, 106, 0.1) 100%
        ),
        #fff
      );
      font-family: $medium;
    }
    .status {
      padding: 4px 12px;
      border-radius: 4px;
      background: rgba(45, 154, 33, 0.15);
      color: $green;
      font-family: $medium;
    }
  }
}
