//colors
$gradient-main: linear-gradient(55.49deg, #1509ff -13.33%, #8203a1 88.28%);
$white: #fff;
$dark-grey: #cccfe0;
$black: #000;
$light-black: #323232;
$dark-blue: #04086a;
$green: #2d9a21;
$light-green: #e0f0de;
$light-red: #f7d9d9;
$red: #c70202;
$Grey-border-Nav: #d8d8d8;
$light-grey: #fcfcfc;

//font sizes
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

//font family
$light: "Roc-Grotesk light";
$regular: "Roc-Grotesk regular";
$medium: "Roc-Grotesk medium";
$bold: "Roc-Grotesk bold";
