@media screen and (max-width: 1600px) {
  .tabs-wrapper {
    .tabs {
      width: 30%;
      .channel-select {
        flex-direction: column;
      }
    }
    .tabs-content {
      padding: 10px;
      width: 70%;
      .tab-content-header {
        margin-bottom: 10px;
      }
      .form {
        .protected-input-wrapper {
          gap: 10px;
          padding-bottom: 10px;
        }
        .phone-details {
          padding: 10px 0px;
          .contact-channel-detail {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .form-save-btn {
    .btn-wrapper {
      padding: 10px;
    }
  }
}
