<div class="list-container">
  <div class="phone-number">
    <div class="country-flag">
      <img src="/assets/icons/netherlands.svg" alt="flag-icon" />
    </div>
    <div class="number">
      <p>0684726178</p>
    </div>
  </div>
  <div class="channel-icons">
    <div class="icons">
      <img src="/assets/icons/sms.svg" alt="channel-icon" />
      <img src="/assets/icons/whatsapp.svg" alt="channel-icon" />
    </div>
  </div>
  <div class="online-message-wrapper">
    <div class="messages">
      <p>No online message</p>
    </div>
  </div>
  <div class="offline-message-wrapper">
    <div class="messages">
      <p>No offline message</p>
    </div>
  </div>
  <div class="delay">
    <p><span>0</span>sec delay</p>
  </div>
  <div class="toggle">
    <web-toggle
      [width]="'2.125rem'"
      [checked]="true"
      [height]="'1.125rem'"
      [thumbSize]="'1.125rem'"
    ></web-toggle>
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkbox" name="sms-checkbox" />
  </div>
</div>
